<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            {% unless site.email == %}  <!-- 조건을 정확히 명시해야 합니다. 예: site.email == '' -->
            <a id="contact-button" href="mailto:{{site.email}}"
                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                target="_blank">
                <i class="fas fa-envelope"></i>Send me an Email
            </a>
            <hr>
            <h3 class="is-size-5 is-uppercase has-text-weight-semibold has-text-black is-marginless">
                You Can find me here
            </h3>
            {% endunless %}  <!-- 여기에 'endunless' 태그 추가 -->

            <div class="column is-full is-size-3">
                {% unless site.instagram_username ==  %} <!-- 여기도 조건을 명시해야 합니다. -->
                <a href="http://www.instagram.com/{{site.instagram_username}}" target="_blank" class="has-text-black"><i class="fab fa-instagram"></i></a>
                {% endunless %}  <!-- 'endunless' 태그 추가 -->

                {% unless site.github_username ==  %} <!-- 여기도 조건을 명시해야 합니다. -->
                <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                {% endunless %}  <!-- 'endunless' 태그 추가 -->
            </div>
        </div>
    </div>
</section>
